.mat-list-base .mat-list-item {
  color: black;
}

img {
  width: 25vw;
  height:25vw;
  margin: 1vw auto;
}

.container{
  margin-top: 6vw;
}

.card-container{
  margin-left: 3vw;
  margin-right: 5vw;
}

