<app-toolbar [title]="'Все пиццы'"></app-toolbar>

<table mat-table [dataSource]="displayedPizzaList" class="mat-elevation-z8">
  <ng-container matColumnDef="pizza">
    <th mat-header-cell *matHeaderCellDef>Пицца</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Цена, руб.</th>
    <td mat-cell *matCellDef="let element">{{element.price}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row appHighlight mat-dialog-close="true" [routerLink]="['/pizza-detail',row.id]" *matRowDef="let row;columns: displayedColumns;"></tr>


</table>


