.title{
  margin: 7vw auto 3vw;
  display: block;
  text-align: center;
  font-size: 2vw;
}

.teaImage{
  width:27vw;
  height:27vw;
  border:1px solid green;
}

.card{
  background: #5bbd7a;
  cursor:pointer;
}

.itemBox{
  margin: 2vw auto;
  width: 75vw;
  display: block;
}

.more{
  background-color: #5bbd7a;
  display: block;
  width: 200px;
  margin: 0 auto 5vw;
}

.yellowText{
  color: yellow;
}
