<div id="contact" >
  <div class="title">Контакты</div>
  <div fxLayout>
    <div class="contact-box" fxFlex="60">
      <p>Адрес: DFFHDDFDFD 58, 7</p>
      <br>
      <p>Телефон: +44543566553</p>
      <br>
      <p>Something else:</p>
    </div>

    <div class="map" fxFlex>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150505.92957702366!2d27.453287414822285!3d53.88455846438402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1649348049887!5m2!1sru!2sby" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
